<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
       
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserInfoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WcfAuthorizationServiceLibrary/UserInfoService/"
                binding="basicHttpBinding" contract="UserInfoService.IUserInfoService"
                name="BasicHttpBinding_IUserInfoService" />
        </client>
    </system.serviceModel>
</configuration>