<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
       
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserInfoService" />
                <binding name="BasicHttpBinding_IUserFuncInfoService" />
                <binding name="BasicHttpBinding_IFunctionInfoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WcfAuthorizationServiceLibrary/UserInfoService/"
                binding="basicHttpBinding" contract="UserInfoService.IUserInfoService"
                name="BasicHttpBinding_IUserInfoService" />
            <endpoint address="http://localhost/WcfAuthorizationServiceLibrary/UserFuncInfoService/"
                binding="basicHttpBinding" 
                contract="UserFuncInfoService.IUserFuncInfoService" name="BasicHttpBinding_IUserFuncInfoService" />
            <endpoint address="http://localhost/WcfAuthorizationServiceLibrary/FunctionInfoService/"
                binding="basicHttpBinding" 
                contract="FunctionInfoService.IFunctionInfoService" name="BasicHttpBinding_IFunctionInfoService" />
        </client>
    </system.serviceModel>
</configuration>