<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWebsiteInfoService" />
                <binding name="BasicHttpBinding_IPGPersonInfoService" />
                <binding name="BasicHttpBinding_IPGWebistePerformanceInfoService" />
                <binding name="BasicHttpBinding_IPGPersonAllocateInfoService" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IServiceFile" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WcfBalanceServiceLibrary/WebsiteInfoService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebsiteInfoService"
                contract="WebsiteInfoService.IWebsiteInfoService" name="BasicHttpBinding_IWebsiteInfoService" />
            <endpoint address="http://localhost/WcfBalanceServiceLibrary/PGPersonInfoService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPGPersonInfoService"
                contract="PGPersonInfoService.IPGPersonInfoService" name="BasicHttpBinding_IPGPersonInfoService" />
            <endpoint address="http://localhost/WcfBalanceServiceLibrary/PGWebistePerformanceInfoService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPGWebistePerformanceInfoService"
                contract="PGWebistePerformanceInfoService.IPGWebistePerformanceInfoService"
                name="BasicHttpBinding_IPGWebistePerformanceInfoService" />
            <endpoint address="http://localhost/WcfBalanceServiceLibrary/PGPersonAllocateInfoService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPGPersonAllocateInfoService"
                contract="PGPersonAllocateInfoService.IPGPersonAllocateInfoService"
                name="BasicHttpBinding_IPGPersonAllocateInfoService" />
            <endpoint address="http://localhost/WcfBalanceServiceLibrary/ServiceFile/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IServiceFile"
                contract="ServiceFile.IServiceFile" name="WSDualHttpBinding_IServiceFile">
                <identity>
                    <userPrincipalName value="WIN-RO952LDNMHP\user" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>