<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWebsiteInfoService" />
                <binding name="BasicHttpBinding_IPGPersonInfoService" />
                <binding name="BasicHttpBinding_IPGWebistePerformanceInfoService" />
                <binding name="BasicHttpBinding_IPGPersonAllocateInfoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WcfBalanceServiceLibrary/WebsiteInfoService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebsiteInfoService"
                contract="WebsiteInfoService.IWebsiteInfoService" name="BasicHttpBinding_IWebsiteInfoService" />
            <endpoint address="http://localhost/WcfBalanceServiceLibrary/PGPersonInfoService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPGPersonInfoService"
                contract="PGPersonInfoService.IPGPersonInfoService" name="BasicHttpBinding_IPGPersonInfoService" />
            <endpoint address="http://localhost/WcfBalanceServiceLibrary/PGWebistePerformanceInfoService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPGWebistePerformanceInfoService"
                contract="PGWebistePerformanceInfoService.IPGWebistePerformanceInfoService"
                name="BasicHttpBinding_IPGWebistePerformanceInfoService" />
            <endpoint address="http://localhost/WcfBalanceServiceLibrary/PGPersonAllocateInfoService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPGPersonAllocateInfoService"
                contract="PGPersonAllocateInfoService.IPGPersonAllocateInfoService"
                name="BasicHttpBinding_IPGPersonAllocateInfoService" />
        </client>
    </system.serviceModel>
</configuration>