<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <!--服务配置-->
  <system.serviceModel>
    
    <bindings>
      <basicHttpBinding>
        <!--其实要修改所有的服务，不管是服务端还是客户端，Binding那边增加一个没有设置名字的默认配置就OK了-->
        <binding closeTimeout="00:10:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="WcfBalanceServiceLibrary.Service1">
        <endpoint address="" binding="basicHttpBinding" contract="WcfBalanceServiceLibrary.IService1">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfBalanceServiceLibrary/Service1/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="WcfBalanceServiceLibrary.WebsiteInfoService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfBalanceServiceLibrary.IWebsiteInfoService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfBalanceServiceLibrary/WebsiteInfoService/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="WcfBalanceServiceLibrary.AccountInfoService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfBalanceServiceLibrary.IAccountInfoService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfBalanceServiceLibrary/AccountInfoService/"/>
          </baseAddresses>
        </host>
      </service>

      <service name="WcfBalanceServiceLibrary.CustomerManagerInfoService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfBalanceServiceLibrary.ICustomerManagerInfoService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfBalanceServiceLibrary/CustomerManagerInfoService/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="WcfBalanceServiceLibrary.ServiceFile">
        <endpoint address="" binding="basicHttpBinding" contract="WcfBalanceServiceLibrary.IServiceFile">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfBalanceServiceLibrary/ServiceFile/"/>
          </baseAddresses>
        </host>
      </service>

      <service name="WcfBalanceServiceLibrary.WebsiteBalanceService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfBalanceServiceLibrary.IWebsiteBalanceService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfBalanceServiceLibrary/WebsiteBalanceService/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="WcfBalanceServiceLibrary.ZoneBalanceService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfBalanceServiceLibrary.IZoneBalanceService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfBalanceServiceLibrary/ZoneBalanceService/"/>
          </baseAddresses>
        </host>
      </service>

      <service name="WcfBalanceServiceLibrary.CompanyBalanceService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfBalanceServiceLibrary.ICompanyBalanceService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfBalanceServiceLibrary/CompanyBalanceService/"/>
          </baseAddresses>
        </host>
      </service>

      <service name="WcfBalanceServiceLibrary.AccountBalanceService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfBalanceServiceLibrary.IAccountBalanceService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfBalanceServiceLibrary/AccountBalanceService/"/>
          </baseAddresses>
        </host>
      </service>

       <service name="WcfBalanceServiceLibrary.DepartmentInfoService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfBalanceServiceLibrary.IDepartmentInfoService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfBalanceServiceLibrary/DepartmentInfoService/"/>
          </baseAddresses>
        </host>
      </service>


      <service name="WcfBalanceServiceLibrary.DepartmentBalanceService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfBalanceServiceLibrary.IDepartmentBalanceService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfBalanceServiceLibrary/DepartmentBalanceService/"/>
          </baseAddresses>
        </host>
      </service>

      <service name="WcfBalanceServiceLibrary.CustomerManagerBalanceService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfBalanceServiceLibrary.ICustomerManagerBalanceService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfBalanceServiceLibrary/CustomerManagerBalanceService/"/>
          </baseAddresses>
        </host>
      </service>
      
      
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，
          请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- 要接收故障异常详细信息以进行调试，
          请将以下值设置为 true。在部署前设置为 false 
          以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  
  
</configuration>
