<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
       
        <bindings>
            <basicHttpBinding>
              <binding  name ="BasicHttpBinding_IAutoUpdateService" closeTimeout="00:10:00" receiveTimeout="00:20:00" sendTimeout="00:20:00"
                       maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                <readerQuotas maxArrayLength="1024000000"/>
              </binding >
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WcfAuthorizationServiceLibrary/AutoUpdateService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAutoUpdateService"
                contract="AutoUpdateService.IAutoUpdateService" name="BasicHttpBinding_IAutoUpdateService" />
        </client>
    </system.serviceModel>
</configuration>