<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <!-- Rem : If used via a DataAccess context, properties tag will be ignored 
  <properties resource="../../database.config"/>
  -->
  <!--<properties  embedded="database.config, Service.SqlMaps"/>-->
  <!--<properties embedded="database.config,SqlMaps"/>-->
  <properties embedded="database.config,Configure"/>
  <settings>
    <setting useStatementNamespaces="${useStatementNamespaces}"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
  </settings>

  <!-- Optional if resource -->
  <!--<providers embedded="providers.config,SqlMaps"/>-->
  <providers embedded="providers.config,Configure"/>
  <!-- ==== SqlClient configuration =========	-->
  <!-- Rem : If used via a DataAccess context, database tag will be ignored -->
  <!--<database>-->
  <!-- Optional ( default ) -->
  <!--<provider name="${provider}"/>
        <dataSource name="iBatisNet" connectionString="data source=${datasource};database=${database};user id=${userid};password=${password};connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"/>
    </database>-->
  <database>
    <provider name="${provider}"/>
    <dataSource name="iBatisNet" connectionString="data source=${datasource};database=${database};user id=${userid};password=${password};connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"/>
  </database>
  <sqlMaps>
    <!--权限-->
    <sqlMap embedded="AuthorizationMapping.UserFuncInfo.xml,AuthorizationMapping"/>
    <sqlMap embedded="AuthorizationMapping.FunctionInfo.xml,AuthorizationMapping"/>
    <sqlMap embedded="AuthorizationMapping.UserInfo.xml,AuthorizationMapping"/>
    <!--公司数据-->
    <sqlMap embedded="BalanceMapping.DepartmentBalance.xml,BalanceMapping"/>
    <sqlMap embedded="BalanceMapping.WebsiteInfo.xml,BalanceMapping"/>
    <sqlMap embedded="BalanceMapping.CustomerManagerInfo.xml,BalanceMapping"/>
    <sqlMap embedded="BalanceMapping.AccountInfo.xml,BalanceMapping"/>
    <sqlMap embedded="BalanceMapping.UploadFileInfo.xml,BalanceMapping"/>
    <sqlMap embedded="BalanceMapping.ZoneBalance.xml,BalanceMapping"/>
    <sqlMap embedded="BalanceMapping.WebsiteBalance.xml,BalanceMapping"/>
    <sqlMap embedded="BalanceMapping.CompanyBalance.xml,BalanceMapping"/>
    <sqlMap embedded="BalanceMapping.AccountBalance.xml,BalanceMapping"/>
    <sqlMap embedded="BalanceMapping.DepartmentInfo.xml,BalanceMapping"/>
    <sqlMap embedded="BalanceMapping.CustomerManagerBalance.xml,BalanceMapping"/>
    <sqlMap embedded="BalanceMapping.AccountLinkManagerInfo.xml,BalanceMapping"/>
    <sqlMap embedded="BalanceMapping.SystemSetInfo.xml,BalanceMapping"/>
    <sqlMap embedded="BalanceMapping.AccountAndNameLinkInfo.xml,BalanceMapping"/>
    <!--工资单数据-->
    <sqlMap embedded="BalanceMapping.SalaryInfo.xml,BalanceMapping"/>
    <!--个金数据-->
    <sqlMap embedded="PersonGoldMapping.PGPersonInfo.xml,PersonGoldMapping"/>
    <sqlMap embedded="PersonGoldMapping.PGDebitCardInfo.xml,PersonGoldMapping"/>
    <sqlMap embedded="PersonGoldMapping.PGInsuranceInfo.xml,PersonGoldMapping"/>
    <sqlMap embedded="PersonGoldMapping.PGWebistePerformanceInfo.xml,PersonGoldMapping"/>
    <sqlMap embedded="PersonGoldMapping.PGPersonAllocateInfo.xml,PersonGoldMapping"/>
    

  </sqlMaps>
</sqlMapConfig>
