<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="IBatisNet.Common" publicKeyToken="ED781D9FC396C6CA" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.6.2.0" newVersion="1.6.2.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
  <configSections>
    <!-- 输出IBatis.net执行的SQL语句到控制台 -->
    <sectionGroup name="iBATIS">
      <section name="logging" type="IBatisNet.Common.Logging.ConfigurationSectionHandler, IBatisNet.Common" />
    </sectionGroup>
  </configSections>
  <iBATIS>
    <logging>
      <logFactoryAdapter type="IBatisNet.Common.Logging.Impl.TraceLoggerFA, IBatisNet.Common">
        <arg key="showLogName" value="true" />
        <arg key="showDataTime" value="true" />
        <arg key="level" value="ALL" />
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:SSS" />
      </logFactoryAdapter>
    </logging>
  </iBATIS>
</configuration>
