<?xml version="1.0"?>
<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWebsiteInfoService" />
        <binding name="BasicHttpBinding_IAccountInfoService" />
        <binding name="BasicHttpBinding_ICustomerManagerInfoService" />
        <binding name="BasicHttpBinding_IServiceFile" />
        <binding name="BasicHttpBinding_IWebsiteBalanceService" />
        <binding name="BasicHttpBinding_IZoneBalanceService" />
        <binding name="BasicHttpBinding_ICompanyBalanceService" />
        <binding name="BasicHttpBinding_IAccountBalanceService" />
        <binding name="BasicHttpBinding_IDepartmentInfoService" />
        <binding name="BasicHttpBinding_IDepartmentBalanceService" />
        <binding name="BasicHttpBinding_ICustomerManagerBalanceService" />
        <binding name="BasicHttpBinding_ISystemSetInfoService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/WcfBalanceServiceLibrary/WebsiteInfoService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebsiteInfoService"
        contract="WebsiteInfoService.IWebsiteInfoService" name="BasicHttpBinding_IWebsiteInfoService" />
      <endpoint address="http://localhost/WcfBalanceServiceLibrary/AccountInfoService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountInfoService"
        contract="AccountInfoService.IAccountInfoService" name="BasicHttpBinding_IAccountInfoService" />
      <endpoint address="http://localhost/WcfBalanceServiceLibrary/CustomerManagerInfoService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerManagerInfoService"
        contract="CustomerManagerInfoService.ICustomerManagerInfoService"
        name="BasicHttpBinding_ICustomerManagerInfoService" />
      <endpoint address="http://localhost/WcfBalanceServiceLibrary/ServiceFile/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceFile"
        contract="ServiceFile.IServiceFile" name="BasicHttpBinding_IServiceFile" />
      <endpoint address="http://localhost/WcfBalanceServiceLibrary/WebsiteBalanceService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebsiteBalanceService"
        contract="WebsiteBalanceService.IWebsiteBalanceService" name="BasicHttpBinding_IWebsiteBalanceService" />
      <endpoint address="http://localhost/WcfBalanceServiceLibrary/ZoneBalanceService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IZoneBalanceService"
        contract="ZoneBalanceService.IZoneBalanceService" name="BasicHttpBinding_IZoneBalanceService" />
      <endpoint address="http://localhost/WcfBalanceServiceLibrary/CompanyBalanceService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICompanyBalanceService"
        contract="CompanyBalanceService.ICompanyBalanceService" name="BasicHttpBinding_ICompanyBalanceService" />
      <endpoint address="http://localhost/WcfBalanceServiceLibrary/AccountBalanceService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountBalanceService"
        contract="AccountBalanceService.IAccountBalanceService" name="BasicHttpBinding_IAccountBalanceService" />
      <endpoint address="http://localhost/WcfBalanceServiceLibrary/DepartmentInfoService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDepartmentInfoService"
        contract="DepartmentInfoService.IDepartmentInfoService" name="BasicHttpBinding_IDepartmentInfoService" />
      <endpoint address="http://localhost/WcfBalanceServiceLibrary/DepartmentBalanceService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDepartmentBalanceService"
        contract="DepartmentBalanceService.IDepartmentBalanceService"
        name="BasicHttpBinding_IDepartmentBalanceService" />
      <endpoint address="http://localhost/WcfBalanceServiceLibrary/CustomerManagerBalanceService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerManagerBalanceService"
        contract="CustomerManagerBalanceService.ICustomerManagerBalanceService"
        name="BasicHttpBinding_ICustomerManagerBalanceService" />
      <endpoint address="http://localhost/WcfBalanceServiceLibrary/SystemSetInfoService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISystemSetInfoService"
        contract="SystemSetInfoService.ISystemSetInfoService" name="BasicHttpBinding_ISystemSetInfoService" />
    </client>
  </system.serviceModel>
</configuration>