<?xml version="1.0"?>
<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWebsiteInfoService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/WcfBalanceServiceLibrary/WebsiteInfoService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebsiteInfoService"
        contract="WebsiteInfoService.IWebsiteInfoService" name="BasicHttpBinding_IWebsiteInfoService" />
    </client>
  </system.serviceModel>
</configuration>