<?xml version="1.0"?>
<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWebsiteInfoService" />
        <binding name="BasicHttpBinding_IAccountInfoService" />
        <binding name="BasicHttpBinding_ICustomerManagerInfoService" />
        <binding name="BasicHttpBinding_IServiceFile" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/WcfBalanceServiceLibrary/WebsiteInfoService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebsiteInfoService"
        contract="WebsiteInfoService.IWebsiteInfoService" name="BasicHttpBinding_IWebsiteInfoService" />
      <endpoint address="http://localhost/WcfBalanceServiceLibrary/AccountInfoService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountInfoService"
        contract="AccountInfoService.IAccountInfoService" name="BasicHttpBinding_IAccountInfoService" />
      <endpoint address="http://localhost/WcfBalanceServiceLibrary/CustomerManagerInfoService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerManagerInfoService"
        contract="CustomerManagerInfoService.ICustomerManagerInfoService"
        name="BasicHttpBinding_ICustomerManagerInfoService" />
      <endpoint address="http://localhost/WcfBalanceServiceLibrary/ServiceFile/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceFile"
        contract="ServiceFile.IServiceFile" name="BasicHttpBinding_IServiceFile" />
    </client>
  </system.serviceModel>
</configuration>