<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWebsiteInfoService" maxReceivedMessageSize="21774836" />
        <binding name="BasicHttpBinding_IAccountInfoService" maxReceivedMessageSize="21774836" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/WcfBalanceServiceLibrary/WebsiteInfoService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebsiteInfoService"
        contract="WebsiteInfoService.IWebsiteInfoService" name="BasicHttpBinding_IWebsiteInfoService" />
      <endpoint address="http://localhost/WcfBalanceServiceLibrary/AccountInfoService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountInfoService"
        contract="AccountInfoService.IAccountInfoService" name="BasicHttpBinding_IAccountInfoService" />
    </client>
  </system.serviceModel>
</configuration>