<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--其实要修改所有的服务，不管是服务端还是客户端，Binding那边增加一个没有设置名字的默认配置就OK了-->
        <binding  closeTimeout="00:10:00" receiveTimeout="00:20:00" sendTimeout="00:20:00"
       maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
        </binding >
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/WcfBalanceServiceLibrary/WebsiteInfoService/"
        binding="basicHttpBinding" 
        contract="WebsiteInfoService.IWebsiteInfoService" name="BasicHttpBinding_IWebsiteInfoService" />
      <endpoint address="http://localhost/WcfBalanceServiceLibrary/AccountInfoService/"
        binding="basicHttpBinding"
        contract="AccountInfoService.IAccountInfoService" name="BasicHttpBinding_IAccountInfoService" />
      <endpoint address="http://localhost/WcfBalanceServiceLibrary/CustomerManagerInfoService/"
        binding="basicHttpBinding" 
        contract="CustomerManagerInfoService.ICustomerManagerInfoService"
        name="BasicHttpBinding_ICustomerManagerInfoService" />
      <endpoint address="http://localhost/WcfBalanceServiceLibrary/ServiceFile/"
  binding="basicHttpBinding" 
  contract="ServiceFile.IServiceFile" name="BasicHttpBinding_IServiceFile" />

      <endpoint address="http://localhost/WcfBalanceServiceLibrary/WebsiteBalanceService/"
        binding="basicHttpBinding" 
        contract="WebsiteBalanceService.IWebsiteBalanceService" name="BasicHttpBinding_IWebsiteBalanceService" />
      <endpoint address="http://localhost/WcfBalanceServiceLibrary/ZoneBalanceService/"
        binding="basicHttpBinding" 
        contract="ZoneBalanceService.IZoneBalanceService" name="BasicHttpBinding_IZoneBalanceService" />
      <endpoint address="http://localhost/WcfBalanceServiceLibrary/CompanyBalanceService/"
        binding="basicHttpBinding"
        contract="CompanyBalanceService.ICompanyBalanceService" name="BasicHttpBinding_ICompanyBalanceService" />
      <endpoint address="http://localhost/WcfBalanceServiceLibrary/AccountBalanceService/"
        binding="basicHttpBinding" 
        contract="AccountBalanceService.IAccountBalanceService" name="BasicHttpBinding_IAccountBalanceService" />

      <endpoint address="http://localhost/WcfBalanceServiceLibrary/DepartmentInfoService/"
       binding="basicHttpBinding" 
       contract="DepartmentInfoService.IDepartmentInfoService" name="BasicHttpBinding_IDepartmentInfoService" />
      <endpoint address="http://localhost/WcfBalanceServiceLibrary/DepartmentBalanceService/"
        binding="basicHttpBinding" 
        contract="DepartmentBalanceService.IDepartmentBalanceService"
        name="BasicHttpBinding_IDepartmentBalanceService" />
      <endpoint address="http://localhost/WcfBalanceServiceLibrary/CustomerManagerBalanceService/"
        binding="basicHttpBinding" 
        contract="CustomerManagerBalanceService.ICustomerManagerBalanceService"
        name="BasicHttpBinding_ICustomerManagerBalanceService" />
      <endpoint address="http://localhost/WcfBalanceServiceLibrary/SystemSetInfoService/"
       binding="basicHttpBinding" 
       contract="SystemSetInfoService.ISystemSetInfoService" name="BasicHttpBinding_ISystemSetInfoService" />
      <endpoint address="http://localhost/WcfBalanceServiceLibrary/AccountAndNameLinkInfoService/"
             binding="basicHttpBinding" 
             contract="AccountAndNameLinkInfoService.IAccountAndNameLinkInfoService"
             name="BasicHttpBinding_IAccountAndNameLinkInfoService" />
      <endpoint address="http://localhost/WcfBalanceServiceLibrary/SalaryInfoService/"
              binding="basicHttpBinding" 
              contract="SalaryInfoService.ISalaryInfoService" name="BasicHttpBinding_ISalaryInfoService" />
      <endpoint address="http://localhost/WcfAuthorizationServiceLibrary/UserInfoService/"
             binding="basicHttpBinding" 
             contract="UserInfoService.IUserInfoService" name="BasicHttpBinding_IUserInfoService" />
      <endpoint address="http://localhost/WcfAuthorizationServiceLibrary/UserFuncInfoService/"
                      binding="basicHttpBinding"
                      contract="UserFuncInfoService.IUserFuncInfoService" name="BasicHttpBinding_IUserFuncInfoService" />
      <endpoint address="http://localhost/WcfAuthorizationServiceLibrary/FunctionInfoService/"
          binding="basicHttpBinding"
          contract="FunctionInfoService.IFunctionInfoService" name="BasicHttpBinding_IFunctionInfoService" />
    </client>
  </system.serviceModel>
</configuration>